{% extends "base.html" %} {% block title %}Create Posts{% endblock %} {% block
content %}

<div align="center">
  <h1 aign="center">Create a Post</h1>
  <br />
  <form action="" method="post">
    <textarea name="text" cols="60" rows="10" class="from-control"></textarea>
    <br />
    <br />
    <div align="center">
      <button type="submit" class="btn btn-lg btn-primary">Post</button>
    </div>
    <br />
    <div align="center">
      <a href="/home"
        ><button type="button" class="btn btn-lg btn-secondary">Back</button></a
      >
    </div>
  </form>
</div>
{% endblock %}
